<plugin name='cucumber' version='0.2' grailsVersion='1.2.0 &gt; *'>
  <author>Dan Lynn</author>
  <authorEmail>dan@prax.is</authorEmail>
  <title>Grails Cucumber Plugin</title>
  <description>\
Provides command-line or continuous-integrations support for Cucumber using JRuby and cuke4duke
</description>
  <documentation>http://grails.org/plugin/grails-cucumber</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>